@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {}

/* ==================================================================================== */
body {}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/assets/fonts/Plus-Jakarta/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/assets/fonts/Plus-Jakarta/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/assets/fonts/Plus-Jakarta/PlusJakartaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/assets/fonts/Plus-Jakarta/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/assets/fonts/Plus-Jakarta/PlusJakartaSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@layer base {
  * {
    font-family: 'PlusJakartaSans', sans-serif;
    /* letter-spacing: 0.02em; */
    font-kerning: none;
    -webkit-text-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
  }

  .font-plusJakartaSans * {
    font-family: 'PlusJakartaSans', sans-serif;
    letter-spacing: 0.02em;
  }

  .content-wrapper h1,
  .content-wrapper h2,
  .content-wrapper h3,
  .content-wrapper h4,
  .content-wrapper h5,
  .content-wrapper h6 {
    font-size: revert;
    font-weight: revert;
    padding: 0;
    margin: 0;
  }

  .content-wrapper p:first-child {
    margin-top: 0;
  }

  .content-wrapper img {
    border-radius: 6px;
    margin: 0 auto;
    max-width: 1058px;
    aspect-ratio: auto;
    object-fit: cover;
    width: 100%;
  }

  .content-wrapper figcaption,
  .content-wrapper em {
    font-size: 14px !important;
    margin: 0 auto;
    display: inline-block;
    max-width: 1058px;
    text-align: center;
  }

  .content-wrapper em strong {
    font-size: 1rem !important;
  }

  .content-wrapper ol,
  .content-wrapper ul {
    list-style: revert;
    margin: revert;
    padding-left: 1rem;
  }

  .content-wrapper table {
    border: revert;
    border-collapse: revert;
    border-spacing: revert;
    width: revert;
    margin: revert;
  }

  .content-wrapper tr {
    border: revert;
  }

  .content-wrapper th,
  .content-wrapper td {
    padding: revert;
    border: revert;
    text-align: revert;
    vertical-align: revert;
  }

  /* Định dạng bảng trong content-wrapper */
  .content-wrapper :is(table) {
    border-collapse: collapse;
    /* width: 100%; */
  }

  .content-wrapper :is(table, th, td) {
    /* width: 100%; */
    border: 1px solid black;
  }

  .content-wrapper :is(th, td) {
    width: 100%;
    padding: 8px;
    text-align: left;
  }

  /* Định dạng iframe trong content-wrapper */
  .content-wrapper :is(iframe) {
    width: 100% !important;
    height: 400px !important;
    /* Điều chỉnh chiều cao */
    border: none;
    max-width: 97%;
  }

  /* Định dạng tiêu đề h1 */
  .content-wrapper :is(h1) {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    line-height: 1.2;
    word-break: break-all;
    /* Điều chỉnh khoảng cách dòng */
  }

  /* Định dạng tiêu đề h2 */
  .content-wrapper :is(h2) {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    line-height: 1.3;
    /* Điều chỉnh khoảng cách dòng */
  }

  /* Định dạng đoạn văn */
  .content-wrapper :is(p) {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /* Định dạng liên kết */
  .content-wrapper :is(a) {
    color: blue;
    text-decoration: underline;
    word-break: break-all;
  }

  .content-wrapper .has-text-align-center {
    text-align: center;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }
}

@layer components {
  .padding-top-body {
    @apply pt-[64px] md:pt-[68px] lg:pt-[76px] xl:pt-[130px] 2xl:pt-[142px] 3xl:pt-[146px] 4xl:pt-[154px]
  }
}

@layer utilities {}