@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {}

/* ==================================================================================== */
body {}

@layer base {
  * {
    font-family: 'Plus_Jakarta_Sans', sans-serif;
  }


  .content-wrapper h1,
  .content-wrapper h2,
  .content-wrapper h3,
  .content-wrapper h4,
  .content-wrapper h5,
  .content-wrapper h6 {
    font-size: revert;
    font-weight: revert;
    padding: 0;
    margin: 0;
  }

  .content-wrapper p:first-child {
    margin-top: 0;
  }

  .content-wrapper img {
    border-radius: 6px;
    margin: 0 auto;
    max-width: 1058px;
    aspect-ratio: auto;
    object-fit: cover;
    width: 100%;
  }

  .content-wrapper figcaption,
  .content-wrapper em {
    font-size: 14px !important;
    margin: 0 auto;
    display: inline-block;
    max-width: 1058px;
    text-align: center;
  }

  .content-wrapper em strong {
    font-size: 1rem !important;
  }

  .content-wrapper ol,
  .content-wrapper ul {
    list-style: revert;
    margin: revert;
    padding-left: 1rem;
  }

  .content-wrapper table {
    border: revert;
    border-collapse: revert;
    border-spacing: revert;
    width: revert;
    margin: revert;
  }

  .content-wrapper tr {
    border: revert;
  }

  .content-wrapper th,
  .content-wrapper td {
    padding: revert;
    border: revert;
    text-align: revert;
    vertical-align: revert;
  }

  /* Định dạng bảng trong content-wrapper */
  .content-wrapper :is(table) {
    border-collapse: collapse;
    /* width: 100%; */
  }

  .content-wrapper :is(table, th, td) {
    /* width: 100%; */
    border: 1px solid black;
  }

  .content-wrapper :is(th, td) {
    width: 100%;
    padding: 8px;
    text-align: left;
  }

  /* Định dạng iframe trong content-wrapper */
  .content-wrapper :is(iframe) {
    width: 100% !important;
    height: 400px !important;
    /* Điều chỉnh chiều cao */
    border: none;
    max-width: 97%;
  }

  /* Định dạng tiêu đề h1 */
  .content-wrapper :is(h1) {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    line-height: 1.2;
    word-break: break-all;
    /* Điều chỉnh khoảng cách dòng */
  }

  /* Định dạng tiêu đề h2 */
  .content-wrapper :is(h2) {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    line-height: 1.3;
    /* Điều chỉnh khoảng cách dòng */
  }

  /* Định dạng đoạn văn */
  .content-wrapper :is(p) {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /* Định dạng liên kết */
  .content-wrapper :is(a) {
    color: blue;
    text-decoration: underline;
    word-break: break-all;
  }

  .content-wrapper .has-text-align-center {
    text-align: center;
  }
}

@layer components {}

@layer utilities {}